{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<section class="single-container__wrapper">
    <div class="single-container">
        <div class="single-container__header">
            <h1 class="text--lg">Login</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {% include 'forms/form.html' %}
            <button class="button">
                <span>Login</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/></svg>
            </button>
        </form>
        <div class="text--xs links">
            <a href="{% url 'accounts-register' %}">Register</a>
            <a href="{% url 'accounts-password-reset' %}">Reset Password</a>
            <a href="{% url 'accounts-email-verify' %}">Resend Email Verification</a>
        </div>
    </div>
</section>
{% endblock content %}