.home-search, .home-search form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    input {
        font-size: var(--font-size-xxl);
        text-align: center;
        width: clamp(var(--layout-width-min), 50%, 1200px);
        text-transform: uppercase;

        &:is(:focus, :focus-visible) {
            scale: 1;
        }
    }
}